
@import "variables.scss";


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // color: rebeccapurple;
}
body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


[data-namespace="illustration"] {
  .navbar {
    position: fixed;
    background: white;
    z-index: 9999;
    top: 0;
    width: 100%;
    .logo {
      svg {
        path, polygon {

        }
      }
    }
      .link-container {
        .nav-link {


        }
      }
    }
}



.hero-illustration {
  height: 100vh;
  svg {
    width: 60%;
    .st0{fill:none;}
    .st1{fill:#4D8CFD;}
    .st2{fill:#1362D3;}
    .st3{fill:#FF7E64;}
    .st4{fill:#FC3C2D;}
    .st5{fill:#FFF9F2;}
    .st6{fill:url(#SVGID_4_);}
    .st7{fill:url(#SVGID_5_);stroke:url(#SVGID_6_);stroke-miterlimit:10;}
    .st8{fill:url(#SVGID_7_);stroke:url(#SVGID_8_);stroke-miterlimit:10;}
    .st9{fill:url(#SVGID_9_);}
    .st10{fill:#3145BD;}
    .st11{fill:#FFE8B6;}
    .st12{fill:url(#SVGID_10_);stroke:url(#SVGID_11_);stroke-miterlimit:10;}
    .st13{fill:#FED095;}
  }
  .hero-container {
    width: 40%;


    h3 {
      font-size: 2.8rem;
      margin-bottom: 0.3rem;
    }
    p {
      font-size: 1.1rem;
      max-width: 30rem;
    }
  }
}
.something {
  max-width: 720px;
}
//
// .illustration {
//
// }





/* Grid */




.main {
  margin-top: 10rem;
  padding: 0 2em;
  width: 95%;
  max-width: 1280px;
}


// #grid {
// 	&[data-columns]::before {
// 		content: '3 .column.size-1of3';
// 	}
// }

.stack {
  position: relative;
}
.stack__caption {
  position: absolute;
  bottom: 0;
}


.grid {
  width: 100%;
  &-item {
    position: relative;
    overflow: hidden;
    &-container {
      // opacity: 0;
  		padding-bottom: 16px;
  	}
    &-image {

    }
    &-caption {
  		position: absolute;
      bottom: 10px;
      left: 0;
      opacity: 0;
      font-size: 1.5rem;

      // transform: translateX(-30px);
      // opacity: 0;
  	}
  }

}

.column {
	float: left;
	padding: 0 8px;
	&:first-child {
		padding-left: 0
	}
	&:last-child {
		padding-right: 0;
	}
}
.size-1 {
	&of1 {
		width: 100%;
	}
	&of2 {
		width: 100% / 2;
	}
	&of3 {
		width: 100% / 3;
	}
	&of4 {
		width: 25%;
	}
}
// .anime {
// 	opacity: 0;
// }

[data-namespace="illustration"] {
  img {
    width: 100%;
  	height: 100%;
  }
}
