// Colours
$dark-blue: #232742;
$black: #1C1C1C;

// Fonts
$circular: 'Circular Book';
$circular-light: 'Circular Air';
$circular-medium: 'Circular';
$circular-black: 900;
$roboto: 'Roboto Mono', monospace;


// Breakpoints
$desktop: 1280px;
$tablet: 991px;
$small-tablet: 767px;
$phone: 479px;

// Elements

@mixin transition-properties(...){
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -ms-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}
@mixin transform-properties(...){
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -ms-transform: $arguments;
  -o-transform: $arguments;
  transform: $arguments;
}
@mixin animation-properties(...){
  -webkit-animation: $arguments;
  -moz-animation: $arguments;
  -ms-animation: $arguments;
  -o-animation: $arguments;
  animation: $arguments;
}
@mixin filter-properties(...){
  -webkit-filter: $arguments;
  -moz-filter: $arguments;
  -ms-filter: $arguments;
  -o-filter: $arguments;
  filter: $arguments;
}
